<div class="fullpage">


  <%= image_tag("logo", size: "220", alt: "logo") %>
  <div class="test">Site en construction</div>

  <div class="retest">infos :</div>
  <a href="mailto:info@taofestival.com">info@taofestival.com</a>

</div>
