<div class="fullpage">


  <%= image_tag("taologo.jpg", size: "280", alt: "logo") %>
  <div class="test">Site under construction</div>

  <div class="test2">28th / 29th / 30th March 2017</div>


  <a href="mailto:info@taofestival.com">info@taofestival.com</a>

  <%= audio_tag("deuxmega.mp3", autoplay: true, controls: false, type: "audio/mpeg") %>

  <%= audio_tag("deuxmega.mp3", autoplay: false, controls: true, type: "audio/mpeg", class:"mobile-sound") %>



</div>

